<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
    {% block titulo %}
        <title>Plantilla base</title>
    {% endblock %}
</head>
<body>  
    <header>
        <h1>Plantilla base</h1>
        <img src="{{url_for('static',filename='img/logo.png')}}" alt="">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
            </ul>
        </nav>
    </header>
    <section id="contenido">
        {% block contenido %}
        
            <h1>Plantilla base para Flask</h1>
       
        {% endblock %}
         </section>
</body>
</html>