*{
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
    background-color: #ee4d4d;
}
header{
    background-color: #ee4d4d;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}
header h1{
    font-size: 2.2em;
    border-radius: 20px;
    background-color: #4dee58;
}
#contenido{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d4bdbd;
}